<div class="grid gap-3 grid-cols-3 sm:grid-cols-3 md:grid-cols-5">
  @for (item of '12345667'.split(''); track $index) {
    <div class="bg-white h-44 bg-opacity-25 rounded-lg shadow-md flex flex-col p-4 items-center justify-center cursor-pointer">
      <div class="rounded-full animate-pulse w-24 h-24 bg-gray-300">

      </div>
      <div class="flex text-center mt-5">
        <div class="animate-pulse w-20 h-4 bg-gray-300">

        </div>
      </div>

     </div>
  }

 <!--<div class="col-span-5 text-center border-white h-28 flex justify-center items-center">
   No hay pokemons
 </div>-->
 </div>

