<nav class="text-white gap-4 top-0 absolute z-50 w-full flex justify-end px-4 py-3 bg-slate-900 shadow-md">
  <a routerLinkActive="text-blue-500 underline" class="hover:underline" routerLink="/pokemons">Pokemons</a>
  <a routerLinkActive="text-blue-500 underline" class="hover:underline" routerLink="/about">About</a>
  <a routerLinkActive="text-blue-500 underline" class="hover:underline" routerLink="/pricing">Pricing</a>
  <a routerLinkActive="text-blue-500 underline" class="hover:underline" routerLink="/contact">Contact</a>
</nav>
